    <h1>Super-duper site!</h1>
    <p>Sign in and get nothing to do, except view <a href="http://vkontakte.ru/mshakuznetsov">News</a> and typing boring massages</p>

    <%= link_to "Sign up now!", 'signup', :class => "signup_button round" %>