<footer>
  <nav class="round" >
     <ul>
       <li><%= link_to "About", about_path %></li>
       <li><%= link_to "Contact", contact_path %></li>
       <li><%= link_to "News", 'http://vkontakte.ru/mshakuznetsov' %></li>
       <li><%= link_to "Rails Tutorial", 'http://ruby.railstutorial.org/' %></li>
     </ul>
  </nav>
</footer>